#vertmenu {
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: 100%;
width: 110px;
padding: 0px;
margin: 0px;
}

#vertmenu h1 {
display: block;
color:#A7C101;
font-family:Arial;
font-size:17px;
font-weight: bold;
text-decoration:none;
padding: 3px 0 5px 3px;
margin: 0px;
width:110px;
}

#vertmenu ul {
list-style: none;
margin: 0px;
padding: 0px;
border: none;
font-size: 100%;
line-height:100%;
}
#vertmenu ul li {
margin: 0px;
padding: 0px;
}
#vertmenu ul li a {
font-family:Arial;
font-size:11px;
font-weight:bold;
display: block;
border-bottom: 1px dashed #666666;
padding: 5px 0px 2px 4px;
text-decoration: none;
color: #ADAA75;
width:110px;
}

#vertmenu ul li a:hover, #vertmenu ul li a:focus {
color: #000000;
background-color: #eeeeee;
}
