    <div class="top_search">
       <div class="searchname">
         <label>
         <input name="textfield" type="text" class="searchtextbox" value="Введите текст" />
         </label>
       </div>
       <div class="searchname1">
         <div align="center"><a href="#" class="go">Ок</a></div>
       </div>
       <div class="searchname1">
         <div align="center"><a href="#" class="advance_search">Расширеный поиск</a></div>
       </div>
    </div>
